@import '~bootstrap/scss/bootstrap';
@import '~leaflet/dist/leaflet.css';
@import url('~tabulator-tables/dist/css/tabulator.min.css');
@import url('~tabulator-tables/dist/css/tabulator.min.css');
@import url('~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.css');
@import '~@fortawesome/fontawesome-free/css/solid.min.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
html, body, #map,#disclamer {
    width: 100%; height: 100%; padding: 0; margin: 0;
    
}
#countdown{
    position:absolute;
    top:0;
    /* right:0; */ 
    background-color:rgba(0,0,0,0.3);
    padding:10px;
    font-size:20px;
    z-index:99999;
    color:#fff;
    width:100%;
    text-align:right;
    box-sizing: border-box;
}
#countdown .left{
    display:block;
    float:left;
}

#countdown .left,.header .left{
    display: inline-block;
    float:left;
}
#countdown i{
    cursor:pointer;
}
#countdown .right,.header .right{
    display: inline-block;
    float:right;
}
#disclaimer{
background-color: #fff;
z-index:99999;
position:absolute;
padding:20px;
top:0;
left:0;
width:100%;
height:100%;
box-sizing: border-box;
display:none;
}
.header{
    overflow: auto;
}
.header h3{
    display:inline-block;
   
}

.trackcontent{
    display:none;
    list-style: none;
}
.btn-default{
    border: 1px solid #ccc;
}
.leaflet-shadow-pane{
    display:none;
}
.my-div-icon{
    color:#3388ff; 
    width:unset !important;
    font-weight:bold;
}